/* Стили для заметок */
.note-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.note-list > div {
    flex: 1 1 300px; /* Ширина заметки */
}

.auth-form-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}